@mixin hidden($shift){
    opacity: 0;
    pointer-events: none;
    transform: translateY($shift);
}
@mixin hidden-hor($shift){
    opacity: 0;
    pointer-events: none;
    transform: translateX($shift);
}

@mixin flex-c{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-jtf{
    display: flex;
    justify-content: space-between;
}
@mixin flex-col{
    display: flex;
    flex-direction: column;
}

@mixin pseudo{
    content: '';
    display: block;
}

@mixin pseudo-absolute{
    @include pseudo;
    position: absolute;
}

@mixin directions($top, $right, $bottom, $left){
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin all-directions($val){
    @include directions($val, $val, $val, $val);
}

@mixin background-url($url, $size){
    background: $url center no-repeat;
    background-size: $size;
}

@mixin text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin multiple-text-overflow($val){
    display: -webkit-box;
    -webkit-line-clamp: $val;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin grab(){
    cursor: grab;
    &:active{
        cursor: grabbing;
    }
}

@mixin padding-y($size){
    padding-top: $size;
    padding-bottom: $size;
}

@mixin padding-x($size){
    padding-left: $size;
    padding-right: $size;
}

@mixin margin-y($size){
    margin-top: $size;
    margin-bottom: $size;
}

@mixin margin-x($size){
    margin-left: $size;
    margin-right: $size;
}

@mixin virtual-area($pad){
    padding: $pad;
    margin: calc(-1 * $pad);
}

@mixin mob-display($windowWidth){
    @include mob-display-with-selectors($windowWidth, ".mob-visible", ".desk-visible")
}

@mixin mob-display-with-selectors($windowWidth, $mob-selector, $desk-selector){
    @media (min-width: calc($windowWidth + 1px)) {
        #{$mob-selector}{
            display: none!important;
        }
    }

    @media (max-width: $windowWidth) {
        #{$desk-selector}{
            display: none!important;
        }
    }
}