:root{
    --c-white: #fff;
    --c-white--transparent: rgba(255, 255, 255, 0.4);

    --c-black--middle: #333;
    --c-black--dark: #000;

    --c-gray--light: #BDBDBD;
    --c-gray--lighter: #E0E0E0;
    --c-gray--middle: #828282;
    --c-gray--dark: #4F4F4F;
}