@import url('reset.scss');
@import url('colors.scss');
@import url('fonts.scss');

:root{
    --scale: 10px;

    font-size: var(--scale);

    @media (max-width: $mobile){
        --scale: 2.67vw;
    }

    --pad: 4rem;

    @media (max-width: $mobile){
        --pad: 1.6rem;
    }

    --vh: 1vh;
    @supports (height: 100dvh){
        --vh: 1dvh;
    }
}

html{
    background: var(--c-white);
    overflow-x: hidden;
    max-width: 100vw;
}

body{
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: 'Helvetica', Sans-Serif;
}

.content-wrapper{
    width: 100%;
    max-width: 136rem;
    padding: 0 var(--pad);
    margin: 0 auto;
}

